<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sarzhan.dp.mvvmsample">

    <application
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:name=".app.CreaturemonApplication">


    <activity
        android:theme="@style/AppTheme.NoActionBar"
        android:label="@string/app_name"
        android:name=".view.allcreatures.AllCreaturesActivity"
        android:launchMode="singleTop">


      <intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>

      </intent-filter>

    </activity>

    <activity
        android:name=".view.creature.CreatureActivity"
        android:parentActivityName=".view.allcreatures.AllCreaturesActivity"/>

</application>

</manifest>